annotated-types==0.7.0
anyio==4.9.0
certifi==2025.6.15
charset-normalizer==3.4.2
fastapi==0.115.13
idna==3.10
psycopg2-binary==2.9.10
pydantic==2.11.7
pydantic_core==2.33.2
python-dotenv==1.1.0
requests==2.32.4
sniffio==1.3.1
starlette==0.46.2
typing-inspection==0.4.1
typing_extensions==4.14.0
urllib3==2.4.0
   pytest>=7.0.0        # for testing
black>=23.1.0        # code formatter
pydantic>=1.10.0     # data validation and settings management



https://open-api.tiktokglobalshop.com/api/products/brands?access_token=TTP_tGSYtAAAAAAhx6YGIJmiLoRT5kz21F44kCBJE4B0mpIZ5iJHCjlacwOdHXTzySBl_0kYOk3e39bDeqRnz8RiL3wmciV_odahHUPJD5QbjIuwyxIgDwAqFIGBzgdgK4YaBRhCfYe4KaM&app_key=6fhicd5f13erg&shop_cipher=TTP_ZxmgLgAAAAAdwMla_v60G1uDro76Xyg8&shop_id=7496217208817354793&timestamp=1748957276&version=202212&sign=af133396325cbd5940c25a1e03e8a014bba8628aa436aadc8a79626a20191982